{% load static %}
<footer class="site-footer">
  <div class="footer-inner">
    <div class="footer-grid">
      <div class="footer-col">
        <h4>Online Shopping</h4>
        <a href="{% url 'store' %}">Men</a>
        <a href="{% url 'store' %}">Women</a>
        <a href="{% url 'store' %}">Kids</a>
        <a href="{% url 'store' %}">Home & Living</a>
        <a href="{% url 'store' %}">Beauty</a>
      </div>
      <div class="footer-col">
        <h4>Useful Links</h4>
        <a href="#">Blog</a>
        <a href="#">Careers</a>
        <a href="#">Site Map</a>
        <a href="#">Corporate Information</a>
      </div>
      <div class="footer-col">
        <h4>Customer Policies</h4>
        <a href="#">Contact Us</a>
        <a href="#">FAQ</a>
        <a href="#">T&C</a>
        <a href="#">Terms of Use</a>
        <a href="#">Track Orders</a>
        <a href="#">Shipping</a>
        <a href="#">Returns</a>
      </div>
      <div class="footer-col">
        <h4>Keep in Touch</h4>
        <p>Subscribe to get updates on new arrivals, offers and more.</p>
        <div class="footer-social">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-youtube"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      &copy; 2026 <a href="{% url 'store' %}">ShopHut</a>. All rights reserved. |
      <a href="#">Privacy Policy</a> |
      <a href="#">Terms &amp; Conditions</a>
    </div>
  </div>
</footer>
